@model PeopleViewModel
@{
    ViewData["Title"] = "Add People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Add People</h1>
</div>

<div>
    <form asp-action="Add_View_People" method="post">
        <label asp-for="AddPerson.Person.FirstName"></label>
        <input asp-for="AddPerson.Person.FirstName" />

        <label asp-for="AddPerson.Person.LastName"></label>
        <input asp-for="AddPerson.Person.LastName" />

        <label asp-for="AddPerson.Person.PhoneNumber"></label>
        <input asp-for="AddPerson.Person.PhoneNumber" />

        <label asp-for="AddPerson.Person.Address"></label>
        <input asp-for="AddPerson.Person.Address" />

        <input type="submit" value="Create Person" />

    </form>
</div>

<div>
    <h1>View People</h1>
</div>

<div class="divPadding">
    <form asp-action="Add_View_People" method="post">
        <input asp-for="Search" />

        <input type="submit" value="Search" />

    </form>

</div>

<div class="divPadding">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.AllPeople != null)
            {
                @foreach (Person person in Model.AllPeople)
                {
                    <tr>
                        <th>@person.FirstName</th>
                        <th>@person.LastName</th>
                        <th>@person.PhoneNumber</th>
                        <th>@person.Address</th>
                        <th>
                            <a asp-controller="PeopleOneView" asp-action="DeletePeople" asp-route-id=@person.PersonID class="bodyTxt">Remove</a>
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
